.product-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  p {
    font-size: 1.25rem;
  }
  a {
    color: #6d6d6d;
    text-decoration: none;
  }

  .product-info {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
