<div class="banner mt-5">
  <div class="container">
    <div class="text">
      <h1><strong>GP</strong> Artigos Católicos!</h1>
      <p>Os melhores terços de Natal, com entrega para todo o Brasil !</p>
    </div>
  </div>
</div>
