<div class="footer">
  <div class="elements">
    <span>Fale conosco</span>
      <div class="icons">
        <a href="https://www.instagram.com/_gpcatolicos">
          <i class="fa-brands fa-instagram"></i> <span>gpcatolicos</span>
        </a>
        <span> | </span>
        <i class="fas fa-phone"></i> <span>84 99616-8091</span>
      </div>
    <span id="msg">Salve Maria</span>
  </div>
</div>
